/* BEGIN EXTERNAL SOURCE */
div {
margin:0px auto
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
 background: white; border-radius:8px; display:flex;height:fit-content;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width:170px; height:170px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-top:20px;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin:0px auto
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
 background: white; border-radius:8px; display:flex;height:fit-content;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
img {
width:170px; height:170px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin-top:20px;
}
/* END EXTERNAL SOURCE */
